{% extends "base.html" %}


    {% block title %}首页{% endblock %}



    {% block breadcrunb %}
      <h1>
         Dashboard
        <small>Version 2.0</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    {% endblock %}



    {% block content %}


      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-wrench"></i></button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-8">

                  <div class="chart">
                    <!-- Sales Chart Canvas -->
                      <div id="project_list"    style="width: 100%;height:380px; display:inline-block">
                          {%  for  projects  in  projects_applay_count %}
                              {{ projects.counts }}  {{ projects.name }}  {{ projects.time|safe }}  <br>

                          {% endfor %}
                      </div>
                  </div>
                  <!-- /.chart-responsive -->
                </div>

              </div>
              <!-- /.row -->
            </div>

          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <div class="col-md-12">
             {%  for  msg   in  order_msg %}
                    {{ msg }} <br>
            {% endfor %}
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

   {%  endblock %}

{% block js %}

{% endblock %}