{% extends "base.html" %}

{% block title %}创建项目{% endblock %}


{% block breadcrunb %}
  <h1>
     Dashboard
    <small>Version 2.0</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">创建项目</li>
  </ol>
{% endblock %}



{% block content %}


<!-- Main row -->
<div class="row">
<!-- Left col -->
<div class="col-md-12">

<!-- TABLE: LATEST ORDERS -->
<div class="box box-info">

<div class="box-header with-border">
  <h3 class="box-title">创建项目</h3>
  <div class="box-tools pull-right">
    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
    </button>
    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
  </div>
</div>
<!-- /.box-header -->

<div class="box-body">
    <form method="post" action="" class="form-horizontal">
        {% if msg %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                {{ msg | safe }}
            </div>
        {% elif errmsg %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                {{ errmsg | safe }}
            </div>
        {% endif %}


        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">项目名称：</label>
            <div class="col-sm-8">
                 <input type="text" name="project_name" id="project_name" required placeholder="项目名称" class="form-control"   />
            </div>
        </div>

        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">项目key路径：</label>
            <div class="col-sm-8">
                 <input type="text" name="project_url" id="project_url" required placeholder="/web" class="form-control"   />
            </div>
        </div>

        <div class="hr-line-dashed"></div>

        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
                <button id="submit_button" class="btn btn-primary" type="submit">添加</button>
                <button class="btn btn-white" type="reset">取消</button>
            </div>
        </div>
    </form>

</div>

</div>
</div>
</div>




{% endblock %}

{% block js %}

{% endblock %}
