{% extends "base.html" %}

{% block title %}首页{% endblock %}


{% block breadcrunb %}
  <h1>
     Dashboard
    <small>Version 2.0</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">项目列表</li>
  </ol>
{% endblock %}



{% block content %}

<!-- Main row -->
<div class="row">
<!-- Left col -->
<div class="col-md-12">

<!-- TABLE: LATEST ORDERS -->
<div class="box box-info">


    <div class="box-header with-border">
      <h3 class="box-title">项目列表</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <!-- /.box-header -->

    <div class="box-body">

     <div style="margin-bottom: 10px;height: 30px" class="row">
        <form style="float: right;width: 20%;margin-right: 1%">
        <div  class="input-group">
            <input type="text" class="form-control" name="keyword"
                 placeholder="标题|内容|结果" value="{% if keyword %} {{ keyword }} {% endif %}">
            <div class="input-group-btn">
               <button id='search_btn' type="submit" class="btn btn-sm btn-primary">搜索</button>
            </div>
        </div>
        </form>
     </div>


    <div class="table-responsive">
    <table class="table table-bordered table-striped footable toggle-arrow-tiny" data-page-navigation=".paginations">        <tr>
            <th class="text-center" data-toggle="true">任务名称</th>
            <th class="text-center">键</th>
            <th class="text-center">值</th>
            <th class="text-center">操作</th>
        </tr>
        </thead>

        <tbody>
            {% for vhost  in vhosts_list %}
            <tr class="{{ vhost.id }}">
                <td class="text-center">{{ vhost.project_name.project_name  }}</td>
                <td class="text-center">{{ vhost.vhosts_key }}</td>
                <td class="text-center">{{ vhost.vhosts_value }}</td>
                <td class="text-center">
                    <button type="button" class="btn btn-sm btn-danger User_delete"  data="{{ vhost.id }}">删除</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div><!-- /.table-responsive -->

<div class="row">
              <div class="col-sm-6">
                 <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
                     显示 [{{ paginator.count }}] 条数据中的 第 [{{ page_obj.start_index}}] 至 [{{ page_obj.end_index }}] 的数据
                 </div>
              </div>

              {% include 'paginator.html' %}
            </div><!-- /.paginator -->

</div>
<!-- /.box-body -->

</div>
  <!-- /.box -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->


{% endblock %}

{% block js %}

//删除用户

        $(".User_delete").click(function () {
            var id = $(this).attr("data")
            $.ajax({
                  url: "{% url 'confd:vhost_list' %}",
                  type: "delete",
                  data: {"id": id},
                  success: function(res){
                     if (res.code == 0) {
                         swal("Good", res.result, "success");
                      location.reload()
                         }else{
                          swal("操作失败", res.result, "error")
                         }
                     },
              })


        })

{% endblock %}