{% extends "base.html" %}

{% load mytags %}

  {% block title %}首页{% endblock %}
  {% block css %}
  <style>
    .form-horizontal .form-group{margin-bottom:10px;width:100%;}
    .form-horizontal  .form-control{width:86%;}
    .form-horizontal .control-label{width:75px;}
  </style>

  {% endblock %}

  {% block breadcrunb %}
      <h1>
         Dashboard
        <small>Version 2.0</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">个人中心</li>
      </ol>
  {% endblock %}



{% block content %}


      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <div class="col-md-12">

        {% include "useraddmodel.html" %}
        <!-- TABLE: LATEST ORDERS -->
        <div class="box box-info">


            <div class="box-header with-border">
              <h3 class="box-title">用户列表</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->

            <div class="box-body">

             <div style="margin-bottom: 10px;height: 30px" class="row">
                <a style="float: left; margin-left: 1%" class="btn btn-sm btn-primary" id = "addbtn"> 添加用户 </a>
                <form style="float: right;width: 20%;margin-right: 1%">
                <div  class="input-group">
                    <input type="text" class="form-control" name="keyword"
                         placeholder="用户名|姓名" value="{% if keyword %} {{ keyword }} {% endif %}">
                    <div class="input-group-btn">
                       <button id='search_btn' type="submit" class="btn btn-sm btn-primary">搜索</button>
                    </div>
                </div>
                </form>
             </div>


<div class="table-responsive" style="position:relative;height: 350px;">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th class="text-center">用户名</th>
                    <th class="text-center">姓名</th>
                    <th class="text-center">小组</th>
                    <th class="text-center">手机</th>
                    <th class="text-center">激活</th>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                 {% for user in userlist %}
                   <tr class="gradeX">
                      <td class="text-center"><a href="{% url 'dashboard:user_detail' user.id %}">{{ user.username }}</a> </td>
                      <td class="text-center"> {{ user.name_cn }} </td>
                      <td class="text-center"> {{ user.groups.all | group_str2 |default:"无"}} </td>
                      <td class="text-center">{{ user.phone | default_if_none:'' }}</td>
                      <td class="text-center">{{ user.is_active|   bool2str}}</td>
                
                      <td class="text-center">
                        <div class="btn-group">
                         <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="false">修改<span class="caret"></span></button>
                         <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1"
                             href="{% url 'dashboard:modify_pwd' %}?uid={{ user.id }}">修改密码</a>
                            </li>

                    
                            <li role="presentation"><a role="menuitem" tabindex="-1"
                              href="{% url 'dashboard:user_group_power' user.id  %}"  class="user_group">角色权限修改</a>
                            </li>
                          </ul>
                        </div>
                        <a class="btn btn-xs btn-danger del" data-id="{{ user.id }}" {% if user.username == 'admin' %} disabled {% endif %}>删除</a>
                       </td>
                   </tr>
                {% endfor %}
                </tbody>
            </table>
            </div><!-- /.table-responsive -->

            <div class="row">
              <div class="col-sm-6">
                 <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
                     显示 [{{ paginator.count }}] 条数据中的 第 [{{ page_obj.start_index}}] 至 [{{ page_obj.end_index }}] 的数据
                 </div>
              </div>

              {% include 'paginator.html' %}
            </div><!-- /.paginator -->

            </div>
            <!-- /.box-body -->

        </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->


{% endblock %}

{% block js %}

/*添加用户模态窗弹出*/
$("#addbtn").click(function(){
    $("#user_add_modal").modal("show"); 
});

$("#submit_button").click(function(){
    var formdata = $('#AddForm').serialize()
    console.log(formdata)
    $.post('', formdata, function(res){
       console.log(res)
        if (res.code == 0) {
            swal("Good!", res.result, "success")
            window.location.reload();

        } else {
              if (res.errmsg.username) {
                 swal("操作失败",res.errmsg.username, "error");
               }
             if (res.errmsg.password) {
                  swal("操作失败",res.errmsg.password, "error");
                }
         }
    })



    return false;
})

/*删除用户*/
$("tbody").on('click','.del',function(){
    if(confirm("是否确认删除？")){
        var that = this;
        var id = $(this).attr('data-id')
        $.ajax({
            url:"",
            type: "DELETE",
            data: {"id":id},
            datatype: "json",
            success: function(res){
                console.log(res)
                if (res.code ==0){
                   swal("successful", res.result, "success")
                    window.location.reload();
                }else{
                    swal("操作失败", res.errmsg, "error")
                }
            }
        })

    }  // end confirm
     return false
})


{% endblock %}

